@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto|Lato:300,400,500');
@import 'variables.scss';
@import 'mixins.scss';

body {
  background-color: #f5f5f5;
  height: auto !important;
  margin: 0;
  font-family: $font-system;
}

@include mobile {
  body {
    background-color: #ffffff;
  }
}

#moneytracker-root {
  .ui.primary.button {
    background-color: #3f51b5 !important;
  }

  .ui.steps .step.active .title {
    color: #3f51b5;
  }

  .ui.steps .step .title {
    font-family: $font-narrow;
    font-weight: 500;
  }

  .ui.button {
    margin: 0;
  }

  .ui.label,
  .ui.header {
    font-weight: 400 !important;
  }

  .ui.dropdown .menu .active.item {
    font-weight: 500 !important;
  }

  .ui.header {
    font-family: $font-narrow;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-narrow;
    font-weight: 400;
    margin: 0;
  }

  header .ui.header {
    color: white;
  }

  header .ui.header h2 {
    font-weight: 300;
  }

  .ui.header:first-child {
    margin-top: 0;
  }

  .ui.header .icon {
    padding-top: 0;
    font-weight: 300;
  }

  .ui.message {
    max-width: $screen-lg-min;
    margin: 0 auto;
  }
}
