$screen-lg-min: 920px;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Roboto',
  'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-narrow: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
