#moneytracker-root {
  .AccountSetup {
    .ui.form input[type='text'] {
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      border: none;
    }

    &-buttonContainer {
      display: flex;
      justify-content: space-between;
    }
  }
}
